# Entorno virtual
env/

# Archivos de Python
*.pyc
__pycache__/

# Archivos de base de datos SQLite
*.sqlite3

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

# Archivos de migraciones Django
**/migrations/*.pyc
**/migrations/__pycache__/
